{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Jornada</h1>
{% endblock %}
{% block body -%}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Jornada</th>
                <td>{{ entity.Jornada }}</td>
            </tr>
        </tbody>
    </table>
    <tr>
        <td></td>
    </tr>
        <ul class="record_actions">
    
        <a href="{{ path('jornada') }}" class="btn btn-primary">
            Volver a la Lista
        </a>
    
    
        <a href="{{ path('jornada_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Editar
        </a>
    
    {{ form(delete_form) }}
</ul>
{% endblock %}
