{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title"> Visualización de Estudiantes </h1>
{% endblock %}
{% block body %}
  <h3>Según Archivo </h3>
  <form role="form" method="post" enctype="multipart/form-data" action='{{path('cargararchivo')}}'>
        <table class="table table-striped">
        <thead>
           {# <tr>
                <th>Carne</th>
                <th>Nombre</th>
            </tr> #}
            <tr>
              <th>Carrera</th>
              <th>{{ carrera[2] }}</th>
              <th>{{ ResultCarrera }}</th>
            </tr>
            <tr>
              <th>Código</th>
              <th>{{ curso[2] }}</th>
              <th>{{ ResultCurso }}</th>
            </tr>
            <tr>
              <th>Catedratico</th>
              <th>{{ docente[2] }}</th>
              <th>{{ ResultCatedratico }}</th>
            </tr>
        </thead>
        <tbody>
        {% for line in tabla %}
         <tr>
              {% for campo in line %}
              <td>{{campo}}</td>
              {% endfor %}
         </tr>
         {%endfor%}
        </tbody>
        </table>
  </form>
  <a href="{{ path('carreraarchivo') }}">
      Back to the list
  </a>
  <hr/>
{% endblock %}
