{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">{{entity.PensumAnio.Codigo}} {{entity.PensumAnio.Curso}}</h1>
    <p class="lead">{{ entity.CampusCarrera }}</p>
{% endblock %}

{% block body -%}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Catedrático asignado</th>
                <td>
                    {% set nuevo = 1 %}
                    {% for catedratico in entity.CatedraticoCursos %} 
                        {% set nuevo = 0 %}
                        <a href={{path('catedraticocurso_edit', {'id': catedratico.id})}}>{{ catedratico.Catedratico }}</a>
                    {% endfor %}
                    {% if nuevo == 1 %}
                        <a href={{path('catedraticocurso_new', {'id':entity.id})}}>Asignar catedrático</a>
                    {% endif %}
                </td>
            </tr>
        </thead>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campuscarrera_show', {'id':entity.CampusCarreraid}) }}">
            Regresar a la carrera
        </a>
    </li>
    <li>
        <a href="{{ path('carreracurso_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
