{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evaluacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activa</th>
                <th>Fechahora</th>
                <th>Fechahorafinal</th>
                <th>Campuscarrera_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.Activa }}</td>
                <td>{% if entity.FechaHora %}{{ entity.FechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.FechaHoraFinal %}{{ entity.FechaHoraFinal|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.CampusCarreraid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('evaluacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
