{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">{{entity.CampusCarrera}}</h1>
    <p class="lead">Fecha inicio: {{ entity.FechaHora|date('Y-m-d H:i:s') }}<br />
    Fecha finalización: {{ entity.FechaHoraFinal|date('Y-m-d H:i:s') }}</p>
{% endblock %}

{% block body -%}
    <h2>{% if entity.Activa == 1 %} Activa {% else %} No Activa {% endif %}</h2>

    <h1> Preguntas </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pregunta in entity.getPregunta %}
            <tr>
                <td>{{ pregunta.Pregunta }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}">ver</a></li>
                        <li><a href="{{path('pregunta_edit', { 'id': pregunta.id }) }}">editar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacion') }}">
            Regresar al listado
        </a>
    </li>
    <li>
        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
