{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Pensum: {{entity.Anio}}</h1>
{% endblock %}

{% block body -%}
    <h1>Lista de cursos del pensum</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Carrera</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in entity.PensumAnios %}
            <tr>
                <td>{{ curso.Codigo }}</td>
                <td>{{ curso.Curso }}</td>
                <td>{{ curso.Carrera }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('pensumanio_show', { 'id': curso.id }) }}">ver</a></li>
                        <li><a href="{{ path('pensumanio_edit', { 'id': curso.id }) }}">editar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{path('pensumanio_new', {'id':entity.id})}} class='btn btn-primary'>Asignar nuevo curso</a>
    <br />

        <ul class="record_actions">
    <li>
        <a href="{{ path('pensum') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('pensum_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
