{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Lista Campus</h1>
{% endblock %}

{% block body -%}
    <h1> Lista de carreras </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Carrera</th>
                <th>Jornada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for carrera in entity %}
            <tr>
                <td>{{ carrera.Codigo }}</td>
                <td>{{ carrera.Carrera }}</td>
                <td>{{ carrera.Jornada }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('campuscarrera_show', { 'id': carrera.id }) }}">ver</a></li>
                        <li><a href="{{ path('campuscarrera_edit', { 'id': carrera.id }) }}">editar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{ path('campuscarrera_new', {'id': entity.id}) }} class="btn btn-primary">Asiganar carrera al campus</a>
    <br />
     
        <a href="{{ path('campus') }}" class="btn btn-primary">
            Regresar a la lista
        </a>
    <br/>
   
    <a href="{{ path('campus_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>
</ul>
{% endblock %}
